/* .mini{
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-top: 20px;
    padding: 30px;
}
.mini1{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    padding: 30px;
    margin-left: -36px;

}
.mini2{
    width: 300px;
    height: 300px;
    margin-left: 300px;
    padding: 30px;
}
.mini3{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-left: 300px; */
/* } */
.car{
    margin-left: 250px;
    margin-top: 20px;

}
