body{
    background-image: url('IMG-20220629-WA0040.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    margin-top: 200px;
    margin-left: 800px;
}
.im1{
    position: relative;
    z-index:5;
    opacity: 0.3;
}
.im2{
    position: sticky;
    z-index: 10;
    opacity: 0.5;
}
.im3{
    position: relative;
    
}