body{
    background-color: cornsilk;
}
h1{
    color: blue;
}
h3{
    color: aqua;
}
.pp{
    color: white;
    background-color: blueviolet;
    width: 50%;
    padding: 10px;
}
.ppp{
    color: white;
    background-color: cadetblue;
    width: 50%;
    padding: 10px;
}